input {
	file {
		path => "/home/broker/belajar/elasticsearch/GlobalLandTemperaturesByState.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter {
	csv {
		
		columns => ['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'State',
       'Country']
		
	}
	grok {
		match => [ "dt", "%{YEAR}[./-]%{MONTHNUM}[./-]%{MONTHDAY}" ]
		overwrite => ["dt"]
	}


}
output {
    #stdout {}
    elasticsearch {
		hosts=>"127.0.0.1:9200"
        index => "temperature2"
    }
}
