input {
	file {
		path => "/home/broker/belajar/elasticsearch/CAvideos.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter {
	csv {
		separator => ","
		
		columns => ['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description']
		
	}


}
output {
    #stdout {}
    elasticsearch {
		hosts=>"127.0.0.1:9200"
        index => "cavideos"
    }
}
