input {
	file {
		path => "/home/broker/belajar/elasticsearch/test.csv"
		start_position => "end"
		sincedb_path => "/home/broker/belajar/elasticsearch/testsincedb.txt"
	}
}
filter {
	csv {
		separator => ","
		
		columns => ['id','name','height','born','desc']
		
	}


}
output {
    #stdout {}
    elasticsearch {
		hosts=>"127.0.0.1:9200"
        index => "test"
    }
}
